# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [1]:
import numpy as np
import pandas as pd

In [2]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [3]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [4]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [5]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [6]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric()
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

Hint: See Lecture 13

In [8]:
#Obtain unique string values of a column:
circuits = pd.read_csv("data_raw/circuits.csv")
subset      = circuits.query("alt.str.isnumeric() == False")
list_unique = pd.unique(subset["alt"])
print(list_unique)

#Replace the values of the column
list_old = ['\\N', '-7'] #these are the values we want to change from original list
list_new = [np.nan, -7] #these are the new values that will replace the old list
circuits["alt"] = circuits["alt"].replace(list_old, list_new)

['\\N' '-7']

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.
- See Lecture 14 for more details

In [15]:
students = pd.read_csv("data_raw/students.csv")
bins_students = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels_students = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]

students["lettergrade"] = pd.cut(students["numericgrade"],
                                 bins = bins_students, 
                                 right = True, 
                                 labels = labels_students)

FileNotFoundError: [Errno 2] No such file or directory: 'data_raw/students.csv'

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [10]:
results_agg = (results.query("raceId >= 200")
               .groupby(["constructorId"])
               .agg(mean_laps = ('laps', 'mean'),
                    sd_laps = ('laps', 'std')))

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [11]:
results_agg = (results.groupby("constructorId")
               .agg(mean_laps = ('laps', 'mean'),
                    sd_laps = ('laps', 'std'))
                .sort_values(by = "mean_laps", ascending = False))

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [12]:
#import datasets
results_raw  = pd.read_csv("data_raw/results.csv")
races_raw    = pd.read_csv("data_raw/races.csv")
circuits_raw = pd.read_csv("data_raw/circuits.csv")

#Create a dictionary
car_dictionary = {"car_model": ["Ferrari","Tesla","BMW"],
                  "year":      ["2018","2023","2022"] }

pd.DataFrame(car_dictionary)

#Rename one or more columns in a dataset
dict_rename_circuits = {"name": "circuit_name"} #old name, new name
circuits = circuits_raw.rename(columns = dict_rename_circuits)

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [13]:
#First extract specific columns from dataset
circuits[["circuitId","circuit_name"]]

#merge the datasets; first argument is primary, second is secondary
races_merge = pd.merge(races_raw,
                       circuits[["circuitId","circuit_name"]],
                       on = "circuitId",
                       how = "left")


display(races_merge[["raceId", "circuitId", "circuit_name"]].sort_values(by = "circuit_name"))

     raceId  circuitId             circuit_name
760     761         61                     AVUS
434     435         29  Adelaide Street Circuit
335     336         29  Adelaide Street Circuit
319     320         29  Adelaide Street Circuit
370     371         29  Adelaide Street Circuit
..      ...        ...                      ...
501     502         40                   Zolder
486     487         40                   Zolder
470     471         40                   Zolder
516     517         40                   Zolder
608     609         40                   Zolder

[1102 rows x 3 columns]